#scheduleTable tbody tr {
  height: 40px;
}

.reserve-card {
  position: absolute;
  background: rgba(255, 0, 0, 0.35);
  cursor: pointer;
}

.reserve-card div {
  margin: -15px;
}

.display-none {
  display: none;
}
