.reserve-card {
  position: absolute;
  cursor: pointer;
}

.reserve-card div {
  margin: -15px;
}

.reserve-card-self {
  background: rgba(255, 25, 0, 0.35);
}

.reserve-card-not-self {
  background: rgba(0, 161, 255, 0.35);
}
