.schedule-table {
  user-select: none;
}

.schedule-table thead th {
  position: sticky;
  top: 0;
}

.schedule-table tbody:active {
  cursor: s-resize;
}

.schedule-table tbody tr {
  height: 40px;
}

.schedule-drag-color {
  background: rgba(255, 229, 85, 0.6);
}
